$def with (contenido)

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firebase Real Time Database</title>
    <link rel="icon" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <nav class="navbar" style="background-color: #01ccff;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/static/imagenes/casa_icono.jpeg" alt="BACK" width="50px"></a>
            <div class="d-flex">
                <a class="btn btn-outline-dange" href="">Registro</a>
                <a class="btn btn-outline-success" href="./usuarioContenido/iniciar_sesion.html">Inicio de Sesión</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        $:contenido
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>