$def with (nombre, correo)

<nav class="navbar" style="background-color: #1e9fc6;">
    <div class="container-fluid">
        <div class="d-flex">
            <a class="btn btn-danger" href="/">Cerrar Sesion</a>
        </div>
    </div>
</nav>

<link href="../assets/dist/css/bootstrap.rtl.min.css" rel="stylesheet">

<div class="container mt-4">

    <div class="d-flex align-items-center p-3 my-3 text-dark  rounded shadow-sm" style="background-color:#c0ddf1 ;">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-black lh-1">Bienvenido $nombre</h1>
            <br>
            <small> $correo</small>
        </div>
    </div>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }



        .bd-mode-toggle {
            z-index: 1500;
        }

        .bd-mode-toggle .dropdown-menu .active .bi {
            display: block !important;
        }

        .card:hover {
            transform: scale(1.03);
            /* Aumenta el tamaño un 10% */
            transition: transform 0.5s ease-in-out;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            /* Sombra para resaltar */
        }
    </style>



    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis" style="background-color: #d6eaf8">
        <div class="col-lg-10 px-0">
            <h1 class="display-4 fst-italic">🛡️ Protege tu Información: Aprende a Identificar el Phishing</h1>
            <p class="lead my-3">A continuación, te mostramos algunas señales clave para
                identificar correos electrónicos de phishing y evitar caer en estafas.
            </p>
        </div>
    </div>

    <main>



        <div class="album py-5" style="background-color: #e6f9f6">
            <div class="container">

                <div class="row d-flex flex-wrap justify-content-center gap-3">
                    <div class="row d-flex flex-wrap justify-content-center gap-3">
                        <div class="row d-flex flex-wrap">
                            <div class="col-md-6 col-lg-6">
                                <div class="card shadow-sm" style="width: 100%; background-color: #d4dddf">
                                    <img src="/static/imagenes/captura01.png" class="img-fluid w-100 rounded-top"
                                        alt="Sample image">
                                    <div class="card-body">
                                        <p class="card-text">¿Qué tiene de malo este correo?</p>
                                        <div>
                                            <h6>El remitente no es oficial</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">El correo proviene de
                                                        amazon.service@013802mail.com.</small>
                                                </li>
                                                <li><small class="text-body-secondary">Amazon nunca usa correos tan
                                                        extraños,
                                                        siempre tienen direcciones como @amazon.com.</small>
                                                </li>
                                            </ul>
                                            <hr>
                                            <h6>El asunto está exagerado y usa muchos signos de exclamación</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Dice: "Amazon Account -- SUSPENDED
                                                        !!!"
                                                    </small>
                                                </li>
                                                <li><small class="text-body-secondary">Un correo legítimo de Amazon sería
                                                        más formal y claro, como:
                                                        ✅ "Problema con tu cuenta de Amazon – Acción requerida"</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6">
                                <div class="card shadow-sm" style="width: 100%; background-color: #d4dddf">
                                    <img src="/static/imagenes/captura02.png" class="img-fluid w-100 rounded-top"
                                        alt="Sample image">
                                    <div class="card-body">
                                        <p class="card-text">¿Qué tiene de malo este correo?</p>
                                        <small class="text-body-secondary">Un usuario recibe un email diciendo que ha
                                            acumulado
                                            puntos en Amazon y que, como recompensa, puede comprar un Samsung Galaxy S20 por
                                            solo 1,50 euros.
                                        </small>

                                        <div>
                                            <br>
                                            <h6>El remitente no es de Amazon.</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Si revisas la dirección del correo,
                                                        verás que no proviene de @amazon.com.
                                                    </small>
                                                </li>
                                            </ul>
                                            <hr>
                                            <h6>La oferta es demasiado buena para ser verdad.</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Nadie regala smartphones casi gratis.
                                                    </small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex flex-wrap">
                            <div class="col-md-6 col-lg-6">
                                <div class="card shadow-sm" style="width: 100%; background-color: #d4dddf">
                                    <img src="/static/imagenes/captura03.png" class="img-fluid w-100 rounded-top"
                                        alt="Sample image">
                                    <div class="card-body">
                                        <p class="card-text">¿Qué tiene de malo este correo?</p>
                                        <small class="text-body-secondary">Recibes un email diciendo que la ONU te ha
                                            seleccionado para recibir 2.500.000
                                            dólares como compensación por la pandemia. Mencionan a la UE, EE. UU., el FMI y
                                            el Banco Mundial para que suene creíble.
                                        </small>

                                        <div>
                                            <br>
                                            <h6>Te piden datos personales.</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Dicen que debes contactarlos y enviar
                                                        información privada.
                                                    </small>
                                                </li>
                                                <li><small class="text-body-secondary">Te piden que no lo compartas, esto es
                                                        una táctica común para evitar que alguien te advierta del engaño.
                                                    </small>
                                                </li>
                                                <li><small class="text-body-secondary">Urgencia y presión, te dicen que
                                                        actúes rápido para no perder la "oportunidad".
                                                    </small>
                                                </li>
                                            </ul>
                                            <hr>
                                            <h6>⚠ Recuerda</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Si un email te promete dinero
                                                        inesperado y te pide información personal,
                                                        es phishing. No respondas y elimínalo. 🚨

                                                    </small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card shadow-sm" style="width: 100%; background-color: #d4dddf">
                                    <img src="/static/imagenes/correo03.jpg" class="img-fluid w-100 rounded-top"
                                        alt="Sample image">
                                    <div class="card-body">
                                        <p class="card-text">¿Qué tiene de malo este correo?</p>
                                        <small class="text-body-secondary">Un usuario recibe un email falso de "Endesa".
                                        </small>

                                        <div>
                                            <br>
                                            <h6> Enlace peligroso</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">"Haga clic aquí" no muestra adónde te
                                                        llevará. Podría ser una página falsa que roba tus datos.
                                                    </small>
                                                </li>
                                            </ul>
                                            <hr>
                                            <h6>Falsa amenaza de costo</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Dicen que si no recoges la carta, te
                                                        cobrarán 9,79 euros al día. Es una táctica para asustarte y hacer
                                                        que actúes rápido.
                                                    </small>
                                                </li>
                                            </ul>
                                            <hr>
                                            <h6> El remitente es sospechoso</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Aunque dice ser de "Endesa Clientes",
                                                        su dirección de correo es desconocida. Las empresas oficiales usan
                                                        correos con su dominio, como @endesa.com.
                                                    </small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex flex-wrap">
                            <div class="col-md-6 col-lg-6">
                                <div class="card shadow-sm" style="width: 100%; background-color: #d4dddf">
                                    <img src="/static/imagenes/correo01.jpeg" class="img-fluid w-100 rounded-top"
                                        alt="Sample image">
                                    <div class="card-body">
                                        <p class="card-text">¿Qué tiene de malo este correo?</p>
                                        <small class="text-body-secondary">Te explico algunos puntos sospechosos en esta
                                            imagen:</small>
                                        <div>
                                            <br>
                                            <h6>Dirección de correo falsa</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Viene de un correo con dominio
                                                        @hotmail.com, pero una entidad oficial debería usar un correo
                                                        institucional (como @gob.mx o @hacienda.gob.mx).</small>
                                                </li>
                                            </ul>
                                            <hr>
                                            <h6>Botón de descarga sospechoso</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Dice "Descargar todo como .zip
                                                        archivos adjuntos". Es extraño que una autoridad fiscal envíe un ZIP
                                                        en lugar de un PDF directo. Estos archivos pueden contener virus.
                                                    </small>
                                                </li>
                                            </ul>
                                            <hr>
                                            <h6>Errores en el mensaje</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Frases como "se anexa el siguiente
                                                        comprobante fiscal digital" o "A quien corresponda" suenan poco
                                                        formales para una entidad tributaria real.</small>
                                                </li>
                                                <li><small class="text-body-secondary">Fecha de emisión: 28/01/2020, pero el
                                                        correo llega en 2021, lo que no tiene sentido.</small>
                                                </li>
                                            </ul>
                                            <hr>
                                            <h6>Número de teléfono sospechoso</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">No es un número oficial ni tiene el
                                                        formato correcto de un servicio de impuestos.
                                                    </small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6">
                                <div class="card shadow-sm" style="width: 100%; background-color: #d4dddf">
                                    <img src="/static/imagenes/correo02.jpeg" class="img-fluid w-100 rounded-top"
                                        alt="Sample image">
                                    <div class="card-body">
                                        <p class="card-text">¿Qué tiene de malo este correo?</p>
                                        <small class="text-body-secondary">Te explico por qué es sospechoso:
                                        </small>

                                        <div>
                                            <br>


                                            <h6>Errores de ortografía y puntuación</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Frases como "Favor de realizar la
                                                        verificación de su identidad en el siguiente enlace proporcionado a
                                                        continuación ." tienen errores y no suenan profesionales. Un banco
                                                        real revisa bien sus mensajes.
                                                    </small>
                                                </li>
                                            </ul>
                                            <hr>
                                            <h6>Mensaje alarmante para presionarte</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Dicen que tu usuario ha sido
                                                        bloqueado por “actividad inusual”, lo que te hace sentir urgencia de
                                                        hacer clic en el enlace sin pensar mucho.
                                                    </small>
                                                </li>
                                            </ul>
                                            <hr>
                                            <h6>Enlace engañoso</h6>
                                            <ul>
                                                <li><small class="text-body-secondary">Parece que el enlace es de
                                                        banorte.com, pero al pasar el cursor sobre él, en realidad dirige a
                                                        panchkon.com/include/links-php, que no tiene relación con el banco.
                                                        Esto es una táctica común para robar tus datos.
                                                    </small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="py-5 text-center container">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <h1 class="fw-light">Ejemplos del Phishing</h1>
                            <p class="lead text-body-secondary">Pon aprueba tu conocimiento</p>
                            <p>
                                <a href="/usuarioContenido/ejercicios" class="btn btn-primary my-2">Practicar</a>
                                <a href="https://youtu.be/t3WrAb3xI88?si=jYqwCxjxlVjaPyh6" target="_blank"
                                    class="btn btn-secondary my-2">Ver mas</a>
                            </p>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        </div>


    </main>
</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
