<nav class="navbar" style="background-color: #1e9fc6;">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-house-fill"
                viewBox="0 0 16 16">
                <path
                    d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
            </svg>
        </a>
        <div class="d-flex">
            <a class="btn btn-light" href="/usuarioContenido/registro">Registro</a>
            <a class="btn btn-light ms-5" href="/usuarioContenido/iniciar_sesion">Inicio de Sesión</a>
        </div>
    </div>
</nav>

<div class="row justify-content-center mt-4">
    <div class="col-md-10 col-lg-6 col-xl-4 order-2 order-lg-1">

        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registro</p>

        <form class="mx-1 mx-md-4" method="POST" action="/usuarioContenido/registro" style="border-radius: 20px;">

            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" minlength="2" maxlength="15" name="nombre" class="form-control" id="nombre" placeholder="Ejemplo: JuanPP" required>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" minlength="10" maxlength="30" name="email" class="form-control" id="email" placeholder="Ejemplo: juanPP@gmail.com" required>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <label for="contrasena" class="form-label">Contraseña</label>
                    <input type="password" minlength="8" maxlength="8" name="contrasena" class="form-control" id="contrasena" placeholder="Ejemplo: 12345678" pattern="\d*" title="Solo se permiten números" required>
                </div>
            </div>

            <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="terms" />
                <label class="form-check-label" for="terms">
                Estoy de acuerdo con los <a href="https://youtu.be/q2oC3XunbS0?si=8r8AL59q7QWA1tDu">Terminos de Servicio</a>
                </label>
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" name="metodo-push" value="push" class="btn btn-primary btn-lg me-3">Registrarme</button>
                <a href="/"><button type="button" class="btn btn-secondary btn-lg">Volver</button></a>
            </div>

        </form>

    </div>
    <div class="col-md-10 col-lg-6 col-xl-4 d-flex align-items-center order-1 order-lg-2">

        <img src="/static/imagenes/Phishing.jpg" class="img-fluid" alt="Sample image">

    </div>
</div>

